@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Yeon+Sung&display=swap');

.allclass{
    font-family:'Yeon Sung';
    background-color: red;
}
:root {
    --primary-color : #FFD700;
}

textarea {
    width: 85%;
    padding: 1rem 1rem;
    margin: auto;
    height: 10vh;
    display: block;
    background-color: red;
    border: 5px solid black;
    font-family: 'Yeon Sung';
    font-size: 3rem;
}

.subject {
    text-align: center;
    font-size: 8rem;
    padding: 2rem 2rem;
}
.ship {
    float: right;
}

#btn {
    background-color: var(--primary-color);
    padding: 1rem 1rem;
    margin: 2rem 7.5rem;
    font-family: 'Yeon Sung';
    font-size: 2rem;
}

#Translated {
    border: 5px solid black;
    display: block;
    height: 10vh;
    width: 85%;
    margin: auto;
    padding: 1rem 1rem;

}

.rotate {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    float: right;
}

@keyframes slidein {
    
    0% {transform-origin: 0 100;
        transform: rotate(90deg);
    }
    25% {transform-origin: 0 100;
        
        transform: rotate(180deg);
    }
    75% {transform-origin: 0 100;
        
        transform: rotate(270deg);
    }
    100% {transform-origin: 0 100;
        
            transform: rotate(360deg);
    }
}

.anti-rotate {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    float: left;
}

@keyframes slidein {
    
    0% {transform-origin: 0 100;
        transform: rotate(360deg);
    }
    25% {transform-origin: 0 100;
        
        transform: rotate(270deg);
    }
    75% {transform-origin: 0 100;
        
        transform: rotate(180deg);
    }
    100% {transform-origin: 0 100;
        
            transform: rotate(90deg);
    }
}

.footer{
   margin: auto;
   text-align: center;
}